.deleteModal .body {
  border: 1px solid black;
}
table {
  width: 100%;
  text-align: center;
}
.deleteModal .body p {
  margin-right: 20px;
  font-weight: bold;
}
.deleteModal .body .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.operation-th {
  width: 100px;
}
